/*general */

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1 {
    font-size: 36px;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 0 0 100px 0;
}

h4 {
    color: white;
}

.my-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about,
#portfolio,
#contact {
    padding: 120px 0;
}

/*header*/

header {
    position: relative;
    height: 100vh;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 10px 0;
    transition: all .5s ease;
}

.nav-scroll {
    background: rgba(0, 0, 0, .6);
    padding: 0;
    transition: all .5s ease;
}

.nav-btn {
    display: inline-block;
    order: 2;
    font-size: 32px;
    background: none;
    border: none;
    padding: 10px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}

.my-header-content {
    height: 100%;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
    font-size: 2.7rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.my-arrow {
    display: inline-block;
    padding: 20px;
    border: solid #fa9216;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    cursor: pointer;
}

.my-arrow:hover {
    opacity: .5;
}

.my-banner {
    display: block;
    width: 100%;
    min-height: 100%;
    background-image: url("/IMG/computer-2982270_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.header-flex {
    display: flex;
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.header-title h1 {
    text-align: center;
}

header nav ul {
    display: flex;
    order: 2;
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    color: white;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

header nav ul li a:after {
    content: '';
    display: block;
    height: 3px;
    width: 0px;
    opacity: 0;
    margin-top: 5px;
    background-color: #fa9216;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

header nav ul li a:hover {
    color: #fa9216;
}

header nav ul li a:hover:after {
    width: 100%;
    opacity: 2
}

/* logo */

nav h1 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
}

nav h1 a {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #569aef;
}

nav h1 a:hover {
    color: #fa9216;
}

.title {
    float: left;
    width: 33.3333%;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}


.title a {
    display: block;
    width: 4rem;
    height: 4rem;
    padding: 0.625rem 0.5rem 0.5rem 0.625rem;
    border-radius: 50%;
    border: 0.125rem solid #fcfbfa;
    -webkit-transition: width 200ms ease;
    transition: width 200ms ease;
    color: rgba(238, 238, 238, 0.94);
}

.title a:hover {
    width: 18.75rem;
    padding: 0.625rem 0.625rem 0.625rem 1.375rem;
    border: none;
}

.name b,
.name span {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    letter-spacing: -1rem;
    font-weight: 300;
    color: #ffffff;
}

.title a:hover .name b {
    letter-spacing: 0;
    font-weight: 300;
}

.name span {
    opacity: 0;
}

.last b {
    color: #fa9216;
}

.title a:hover .name span {
    letter-spacing: 0;
    text-transform: none;
    opacity: 1;
}

.title a:hover .first b,
.title a:hover .first span {
    color: rgb(255, 255, 255);
}

.title a:hover .last b,
.title a:hover .last span {
    color: #fa9216;
}

/*About*/

.icons {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 17px;
    color: #f7b05b;
    margin-bottom: 50px;
}

.fa-icons {
    display: flex;
    justify-content: center;
}

.icons .about-img {
    display: none;
}

.icons i {
    border: 1px solid #ecb581;
    height: 50px;
    width: 50px;
    text-align: center;
    margin: 60px 5px 0 5px;
    padding: 15px;
    border-radius: 100%;
}

.icons img {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 0px;
    padding: 5px;
    display: inline-block;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.profile-text {
    width: 600px;
    font-size: 20px;
    color: rgb(88, 87, 87);
    text-align: justify;
    padding: 0 50px 0 50px;
    font-weight: 300;
    text-indent: 50px;
}

h3 span {
    color: #fa9216;
}

.skills ul {
    display: flex;
}

.skills-icons li {
    margin: 15px;
    text-align: center;  
}

.skills-icons li i {
    color: #fa9216;
    transition: all 1s ease;
}

.skills {
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
}

.skills p {
    font-size: 18px;
    opacity: .5;
}

.skills i {
    opacity: .9;
}

.fa-html5:hover {
    color: rgb(235, 117, 6)
}

.fa-css3-alt:hover {
    color: rgb(24, 123, 236)
}

.fa-js-square:hover {
    color: rgba(248, 208, 78, 0.959)
}

.fa-react:hover {
    color: rgb(109, 188, 219)
}

.fa-sass:hover {
    color: rgb(177, 32, 121)
}

.fa-npm:hover {
    color: rgb(204, 55, 55)
}


.fa-code-branch:hover {
    color: black
}


/*Portfolio*/

#portfolio {
    background: #eeeeee;
}

.portfolio-galery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
}

.portfolio-galery li {
    position: relative;
    overflow: hidden;
    width: 31.333%;
    margin: 1%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single-work {
    position: relative;
    overflow: hidden;
}

.single-work img {
    display: block;
    width: 100%;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.single-work:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.item-hover {
    padding: 30px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 1;
    opacity: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.item-hover:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.single-work:hover .item-hover:before {
    opacity: 0.7;
    visibility: visible;
}

.single-work:hover .item-hover {
    opacity: 1;
}

.work-table {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

.work-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.single-work:hover .hover-content {}

.hover-content h4,
.hover-content p {
    color: #fa9216;
    margin: 0;
}

.hover-content p {
    color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 50px;
    background-color: rgba(0,0,0,.5);
    z-index: 100;
    overflow-y: auto; 
    
}

.modal-content {
    position: relative;
    width: 100%;
    max-width: 700px;
    background-color: rgb(247, 245, 243);
    margin: 100px auto;
    padding: 10px;
    transition: all 1s ease;
}

.animated {
    width: 100px;
}

/*Modal*/
.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.modal-header h4 {
    width: max-content;
    color: rgb(58, 58, 58)
}

.modal-header .close-modal {
    background-color: rgb(245, 242, 237);
    border: none;
    color: gray;
    cursor: pointer;
    height: max-content;
    padding: 5px;
    font-size: 24px;
}

.modal-body {
    padding: 20px;
    border-top: 1px solid grey;
    color: rgb(51, 51, 51)
}

.modal-body h3 {
    font-size: 24px;
    padding: 15px;
    color:#fa9216;
    margin: 0;
}

.modal-body h6 {
    font-size: 14px;
    margin: 5px;
}

.modal-body p {
    padding: 10px;
    text-indent: 40px;
    text-align: justify;
}
.modal-buttons{
    display: flex;
    justify-content: center;
}
.modal-body a {
    display: inline-block;
    background-color:#f7b05b;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    margin: 20px;
}

.modal-body img {
    width: 100%;
}

/*Contact*/

#contact {
    padding-bottom: 120px;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

#contact form input:not([type="submit"]),
#contact form textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
}

#contact form input[type="submit"] {
    border: 2px solid #fa9216;
    border-radius: 5px;
    background-color: white;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fa9216;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

#contact form input[type="submit"]:hover {
    background-color: #fa9216;
    color: white;
}

/*Footer*/

footer {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(44, 43, 43);
}

footer .my-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

footer ul {
    display: flex;
}

footer ul a {
    font-size: 20px;
    margin: 10px;
}

footer ul a:hover {
    color: #fa9216;
}

footer .footer-logo {
    font-size: 24px;
    border: 2px solid white;
    border-radius: 100%;
    padding: 5px;
}

footer a span {
    color: #fa9216;
}

/*Animation */

@keyframes blink-caret {
    from,
    to {
        border-color: white
    }
    50% {
        border-color: transparent;
    }
}

.my-pulsate {
    -webkit-animation: pulsate 2s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    opacity: .3;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }
}

@keyframes toColor {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    25% {
        -webkit-filter: grayscale(75%);
        filter: grayscale(75%);
    }
    50% {
        -webkit-filter: grayscale(50%);
        filter: grayscale(50%);
    }
    75% {
        -webkit-filter: grayscale(25%);
        filter: grayscale(25%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

@keyframes layer {
    0% {
        -webkit-opacity: 0;
        opacity: 0;
    }
    25% {
        -webkit-opacity: .25;
        opacity: .25;
    }
    50% {
        -webkit-opacity: .5;
        opacity: .5;
    }
    75% {
        -webkit-opacity: .75;
        opacity: .75;
    }
    100% {
        -webkit-opacity: 1;
        opacity: 1;
    }
}

@keyframes animatetop {
    0% {
        top: - 1000px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1
    }
}

.icons img:hover {
    animation: toColor 5s;
}

/*Responsive*/

@media all and (max-width: 800px){
   .profile-text {
       width: 100%;
       max-width: 600px;
   } 

   .portfolio-galery li {
       width: 48%;
   }

   .my-navigation {
       display: none;
   }

   .modal-content {

   }
}

@media all and (max-width: 480px){
    .icons .about-img {
        display: block;
        margin: 0 auto;
    }

    .icons i {
        margin-top: 0;
    }

    .about-img-inside {
        display: none;
    }

    .profile::after, .profile::before {
        width: 50%;
    }

    .skills {
        font-size: 28px;
    }

    .portfolio-galery li {
        width: 100%;
        margin-bottom: 30px;
    }

    .modal {
        padding: 0 10px;
    }

    .skills-icons li {
        margin: 5px;
    }
}